import pytest
from {{ root_module }}{{ component_name_snake }}.abstract.{{ component_name_snake }} import {{ component_name }}
from {{ root_module }}{{ component_name_snake }}.components.leaves.abstract.leaf import Leaf
{% for leaf, leaf_snake in zip(leaves, leaves_snake) %}
from {{ root_module }}{{ component_name_snake }}.components.leaves.{{ leaf_snake }} import {{ leaf }}
{% endfor %}
from {{ root_module }}{{ component_name_snake }}.components.composite.{{ composite_name_snake }} import {{ composite_name }}

@pytest.fixture(autouse=True)
def reset_id_counter():
    {{ component_name }}._id_counter = 0

# Methods being tested:
# is_composite, is_leaf, get_children, get_parents{% for prop in properties %}, {{ prop.name }}{% endfor %}

def test_basic_identification_and_structure():
    {{ composite_name }}.validation_settings.update({
        'all_{{ composite_name_snake }}s_use_deny_policy': False,
        'max_one_parent': False
    })
    {{ first_leaf_snake }} = {{ first_leaf }}(name="{{ first_leaf }}1"{% if properties %}, {{ leaf_args }}{% endif %})
    composite = {{ composite_name }}(name="{{ composite_name }}1", duplicate_policy={{ composite_name }}.DuplicatePolicy.ALLOW_MULTIPLE_PARENTS)
    
    # Test is_composite and is_leaf
    assert not {{ first_leaf_snake }}.is_composite()
    assert {{ first_leaf_snake }}.is_leaf()
    
    assert composite.is_composite()
    assert not composite.is_leaf()

    # Test get_children and get_parents
    composite.add({{ first_leaf_snake }})
    assert composite.get_children() == [{{ first_leaf_snake }}]
    assert {{ first_leaf_snake }}.get_children() == []
    assert composite.get_parents() == []
    assert {{ first_leaf_snake }}.get_parents() == [composite]

    composite.remove({{ first_leaf_snake }})
    assert composite.get_children() == []
    assert {{ first_leaf_snake }}.get_parents() == []

    # Test properties
    {% for prop in properties %}
    assert {{ first_leaf_snake }}.{{ prop.name }} == {{ repr(prop.default) }}
    {% endfor %}

# Methods being tested:
# get_components_recursively, remove_components_recursively, execute_operation_recursively, calculate_depth

def test_recursive_operations():
    {{ composite_name }}.validation_settings.update({
        'all_{{ composite_name_snake }}s_use_deny_policy': False,
        'max_one_parent': False
    })

    # Set up objects
    {% for i in range(1,3) %}
    {{ first_leaf_lower }}{{ i }} = {{ first_leaf }}(name="{{ first_leaf }}{{ i }}"{% if properties %}, {{ leaf_args }}{% endif %})
    {% endfor %}
    parent_composite = {{ composite_name }}(name="Parent{{ composite_name }}")
    child_composite = {{ composite_name }}(name="Child{{ composite_name }}")

    # Test get_components_recursively
    child_composite.add({{ first_leaf_lower }}1)
    child_composite.add({{ first_leaf_lower }}2)
    parent_composite.add(child_composite)

    components = parent_composite.get_components_recursively()
    assert components == [parent_composite, child_composite, {{ first_leaf_lower }}1, {{ first_leaf_lower }}2]
    assert child_composite.get_components_recursively() == [child_composite, {{ first_leaf_lower }}1, {{ first_leaf_lower }}2]
    assert {{ first_leaf_lower }}1.get_components_recursively() == [{{ first_leaf_lower }}1]
    composites = parent_composite.get_components_recursively(
        condition_func=isinstance,
        condition_args=({{ composite_name }},)
    )
    assert parent_composite in composites
    assert child_composite in composites

    # Test remove_components_recursively
    # condition_func evaluates to True
    removed_components = parent_composite.remove_components_recursively(
        condition_func=isinstance,
        condition_args=({{ component_name }},)
    )
    assert parent_composite not in removed_components
    assert child_composite in removed_components
    assert {{ first_leaf_lower }}1 in removed_components
    assert {{ first_leaf_lower }}2 in removed_components
    assert parent_composite.get_components_recursively() == [parent_composite]

    removed_components = {{ first_leaf_lower }}1.remove_components_recursively(
        condition_func=isinstance,
        condition_args=({{ first_leaf }},)
    )
    assert removed_components == []

    # condition_func evaluates to False
    child_composite.add({{ first_leaf_lower }}1)
    child_composite.add({{ first_leaf_lower }}2)
    parent_composite.add(child_composite)

    def always_false(_):
        return False

    removed_components = parent_composite.remove_components_recursively(
        condition_func=always_false
    )
    assert removed_components == []
    assert len(parent_composite.get_components_recursively()) == 4

    # Test execute_operation_recursively
    def append_to_name(component, suffix):
        component.name += suffix

    results = parent_composite.execute_operation_recursively(
        operation_func=append_to_name,
        operation_args=("_processed",),
        condition_func=isinstance,
        condition_args=({{ component_name }},)
    )
    assert parent_composite.name == "Parent{{ composite_name }}_processed"
    assert child_composite.name == "Child{{ composite_name }}_processed"
    assert {{ first_leaf_lower }}1.name == "{{ first_leaf }}1_processed"
    assert {{ first_leaf_lower }}2.name == "{{ first_leaf }}2_processed"

    assert results == [None, None, None, None]

    def get_name(component, suffix):
        return component.name + suffix

    results = parent_composite.execute_operation_recursively(
        operation_func=get_name,
        operation_args=("_processed",),
        condition_func=isinstance,
        condition_args=({{ first_leaf }},)
    )

    assert len(results) == 2
    assert "{{ first_leaf }}1_processed_processed" in results
    assert "{{ first_leaf }}2_processed_processed" in results

    # Test calculate_depth
    assert parent_composite.calculate_depth() == 3
    assert child_composite.calculate_depth() == 2
    assert {{ first_leaf_lower }}1.calculate_depth() == 1

# Methods being tested:
# add, remove, validate_structure (with duplicate policies)

def test_structure_manipulation_with_duplicate_policies():
    # Set up objects
    {{ first_leaf_lower }}1 = {{ first_leaf }}(name="{{ first_leaf }}1"{% if properties %}, {{ leaf_args }}{% endif %})
    {{ first_leaf_lower }}2 = {{ first_leaf }}(name="{{ first_leaf }}2"{% if properties %}, {{ leaf_args }}{% endif %})
    composite1 = {{ composite_name }}(name="{{ composite_name }}1")
    composite2 = {{ composite_name }}(name="{{ composite_name }}2")

    # Test add with the default policy (DENY_MULTIPLE_PARENTS)
    composite1.add({{ first_leaf_lower }}1)
    assert composite1.get_children() == [{{ first_leaf_lower }}1]

    # Attempt to add leaf1 to another composite should raise an error due to the default policy
    with pytest.raises(ValueError):
        composite2.add({{ first_leaf_lower }}1)  # This should raise a ValueError since multiple parents are denied

    # Attempt to add leaf1 to the same composite should raise an error due to the default policy
    with pytest.raises(ValueError):
        composite1.add({{ first_leaf_lower }}1)  # This should raise a ValueError since multiple parents are denied

    # Test remove
    composite1.remove({{ first_leaf_lower }}1)
    assert composite1.get_children() == []
    assert {{ first_leaf_lower }}1.get_parents() == []

    # Test add with ALLOW_MULTIPLE_PARENTS policy
    composite2.remove_components_recursively()

    composite1.add({{ first_leaf_lower }}1)
    composite2.duplicate_policy = {{ composite_name }}.DuplicatePolicy.ALLOW_MULTIPLE_PARENTS

    with pytest.raises(ValueError):
        composite2.add({{ first_leaf_lower }}1)
    
    assert composite1.get_children() == [{{ first_leaf_lower }}1]
    assert composite2.get_children() == []
    assert {{ first_leaf_lower }}1.get_parents() == [composite1]

    # Test add with ALLOW_NEW_PARENT_IF policy
    composite1.remove_components_recursively()
    composite2.remove_components_recursively()

    def parent_with_max_one_child_and_specific_component(parent, component):
        # Check if the parent does not have more than one child
        max_one_child = len(parent.get_children()) < 1
        # Check if the component is a specific leaf
        is_specific_leaf = isinstance(component, {{ first_leaf }})
        return max_one_child and is_specific_leaf

    composite1.duplicate_policy = {{ composite_name }}.DuplicatePolicy.ALLOW_NEW_PARENT_IF
    composite1.condition_func = parent_with_max_one_child_and_specific_component

    with pytest.raises(ValueError):
        composite1.add(composite2)

    composite1.add({{ first_leaf_lower }}1)

    with pytest.raises(ValueError):
        composite1.add({{ first_leaf_lower }}2)

    assert composite1.get_children() == [{{ first_leaf_lower }}1]
    assert composite2.get_children() == []
    assert composite2.get_parents() == []
    assert {{ first_leaf_lower }}1.get_parents() == [composite1]
    assert {{ first_leaf_lower }}2.get_parents() == []

    # Test validate_structure
    composite1.remove_components_recursively()
    composite2.remove_components_recursively()

    composite1.duplicate_policy = {{ composite_name }}.DuplicatePolicy.DENY_MULTIPLE_PARENTS
    composite2.duplicate_policy = {{ composite_name }}.DuplicatePolicy.DENY_MULTIPLE_PARENTS

    {{ composite_name }}.validation_settings.update({
        'no_circular_references': True,
        'no_parent_duplication_conflict': True,
        'parent_child_relationships_are_consistent': True,
        'only_{{ component_name_snake }}_objects_in_{{ composite_name_snake }}s': True,
        'all_parents_are_{{ composite_name_snake }}s': True,
        'leaf_has_no_children': True,
        'components_are_unique': True,
        'ids_are_unique': True,
        'names_are_unique': True,
        'all_{{ composite_name_snake }}s_use_deny_policy': True,
        'max_one_parent': True,
        'condition_func_in_all_conditional_{{ composite_name_snake }}s': True
    })
    composite2.validate_structure()
    
    composite2.add(composite1)
    with pytest.raises(ValueError):
        composite1.add(composite2)

    composite2.add({{ first_leaf_lower }}1)
    with pytest.raises(ValueError):
        composite1.add({{ first_leaf_lower }}1)
    composite2.add({{ first_leaf_lower }}2)

    {{ first_leaf_lower }}1.validate_structure()
    {{ first_leaf_lower }}1.get_parents().append(composite1)
    with pytest.raises(ValueError):
        {{ first_leaf_lower }}1.validate_structure()

# Methods being tested:
# export_to_pickle, import_from_pickle

def test_serialization_deserialization():
    import os
    # Set up objects
    {{ first_leaf_lower }} = {{ first_leaf }}(name="{{ first_leaf }}1"{% if properties %}, {{ leaf_args }}{% endif %})
    composite = {{ composite_name }}(name="{{ composite_name }}1")
    
    # Add leaf to the composite
    composite.add({{ first_leaf_lower }})
    
    # Define file paths
    composite_file = "test_{{ composite_name_snake }}.pkl"
    leaf_file = "test_{{ first_leaf_lower }}.pkl"

    try:
        # Test export_to_pickle
        composite.export_to_pickle(composite_file)
        {{ first_leaf_lower }}.export_to_pickle(leaf_file)

        # Test import_from_pickle for composite
        loaded_composite = {{ composite_name }}.import_from_pickle(composite_file)
        assert loaded_composite.get_structure_as_dict() == composite.get_structure_as_dict()
        loaded_composite.validate_structure()

        # Test import_from_pickle for leaf
        loaded_leaf = {{ first_leaf }}.import_from_pickle(leaf_file)
        assert loaded_leaf.id != {{ first_leaf_lower }}.id
        assert loaded_leaf.name == {{ first_leaf_lower }}.name
        {% for prop in properties %}
        assert loaded_leaf.{{ prop.name }} == {{ first_leaf_lower }}.{{ prop.name }}
        {% endfor %}
        loaded_leaf.validate_structure()

    finally:
        # Clean up: delete the files after the test
        if os.path.exists(composite_file):
            os.remove(composite_file)
        if os.path.exists(leaf_file):
            os.remove(leaf_file)

# Methods being tested:
# clone

def test_cloning():
    # Set up objects
    {{ first_leaf_lower }} = {{ first_leaf }}(name="{{ first_leaf }}1"{% if properties %}, {{ leaf_args }}{% endif %})
    composite = {{ composite_name }}(name="{{ composite_name }}1")

    # Add leaf to the composite
    composite.add({{ first_leaf_lower }})

    # Test cloning of composite
    cloned_composite = composite.clone()
    assert cloned_composite != composite  # Ensure they are different objects
    assert cloned_composite.get_structure_as_dict() == composite.get_structure_as_dict()

    # Test that changes to the cloned composite do not affect the original composite
    cloned_composite.remove(cloned_composite.get_children()[0])
    assert cloned_composite.get_children() == []
    assert composite.get_children() == [{{ first_leaf_lower }}]

    # Test cloning of Leaf
    cloned_leaf = {{ first_leaf_lower }}.clone()
    assert cloned_leaf.name == {{ first_leaf_lower }}.name
    {% for prop in properties %}
    assert cloned_leaf.{{ prop.name }} == {{ first_leaf_lower }}.{{ prop.name }}
    {% endfor %}
    assert cloned_leaf.id != {{ first_leaf_lower }}.id  # Clone should have a different ID
